.link {
  display: block;
  text-decoration: none;
  color: inherit;
}

.image {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-top-left-radius: var(--radius-md);
  border-top-right-radius: var(--radius-md);
}

.content {
  padding: 1.2rem;
  text-align: left;
}

.content h3 {
  margin-bottom: 0.5rem;
  color: var(--color-text-secondary);
  font-size: 1.1rem;
}

.content p {
  font-size: 0.95rem;
  color: var(--color-text);
}

@media (min-width: 768px) {
  .image {
    height: 200px;
  }
}
