.container {

  margin: 4rem auto;
  padding: 8rem 1.5rem 2rem 1.5rem;

}


.title {

  text-align: center;

  font-size: 2.5rem;

  margin-bottom: 3rem;

}


.list {

  display: flex;

  justify-content: center;

}


.card {

  width: 100%;

  max-width: 700px;

  padding: 2rem;

  border-radius: var(--radius);

  background: var(--color-bg-secondary);

  border: 1px solid var(--color-border);

  box-shadow: var(--shadow-soft);

}


.header {

  display: flex;

  justify-content: space-between;

  align-items: center;

  margin-bottom: .5rem;

}


.header h3 {

  font-size: 1.4rem;

}


.header span {

  color: var(--color-primary);

  font-weight: 600;

}


.duration {

  margin-bottom: 1rem;

  font-size: .9rem;

  opacity: .7;

}


.description {

  padding-left: 1.2rem;

}


.description li {

  margin-bottom: .5rem;

  line-height: 1.6;

}


@media (max-width:768px){

.card{

padding:1.5rem;

}

.title{

font-size:2rem;

}

}