.container {
  margin: 4rem auto;
  padding: 8rem 1.5rem 2rem 1.5rem;

}
.list {
  display: flex;
  justify-content: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.header h3 {
  font-size: 1.4rem;
  padding: 1rem 2rem;
}

.header span {
  color: var(--color-primary);
  font-weight: 600;
  padding: 2rem;
}

.duration {
  font-size: .9rem;
  opacity: .7;
  padding-left: 2rem;
}

.description {
  padding: 1rem 3rem;
}

.description li {
  margin-bottom: .5rem;
  line-height: 1.6;
}

@media (max-width:768px) {
  .container {
    padding: 4rem 4rem 1rem 4rem;

  }

  .title {
    font-size: 2rem;
  }

  .intro {
    text-align: justify;
  }
}