.list {
  display: flex;
  justify-content: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.role {
  font-size: 1.4rem;
  padding: 1rem 2rem;
}

.company {
  color: var(--color-primary);
  font-weight: 700;
  padding: 2rem;
}

.duration {
  font-size: 0.9rem;
  opacity: 0.7;
  padding-left: 2rem;
}

.description {
  padding: 1rem 3rem;
}

.description li {
  margin-bottom: 0.5rem;
  line-height: 1.6;
}

@media (max-width: 768px) {
  .list {
    padding: 0 1rem;
  }
}
