html[data-theme="light"] {

--color-bg: #f5efe6;

--color-bg-secondary: #f4eadf;

--color-text: #0a0a2a;

--color-text-secondary: #111132;

--color-border: rgba(0,0,0,0.1);

}


html[data-theme="dark"] {

--color-bg: #0a0a2a;

--color-bg-secondary: #111132;

--color-text: #cfcaca;

--color-text-secondary: #aaa;

--color-border: rgba(255,255,255,0.1);

}