.container {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;

  @media (prefers-color-scheme: dark) {
    color: #cccccc;
    background: #0a0a2a;
  }
}
.navb {
  display: flex;
  justify-content: space-between;
  position: relative;
}
.iconCode {
  font-size: 4rem;
  margin-top: 0.5rem;
  margin-left: 0.5rem;
}
.btMenu {
  border: none;
  margin-right: 0.5rem;
  margin-top: 0.5rem;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 5px;
}
.iconMenu {
  font-size: 2rem;
}

.menu {
  opacity: 0.9;
  display: flex;
  position: absolute;
  right: 0;
  flex-direction: column;
  align-items: center;
  color: #0a0a2a;
  width: 100%;
  background-color: #c57442;
  gap: 10px;
  list-style-type: none;
}

.menuHidden {
  top: -130%;
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.menuDesk {
  display: none;
}
.link {
  text-decoration: none;
}
.logo {
  margin-left: 40px;
  margin-top: 10px;
}

@media (min-width: 768px) {
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2.5rem;
    width: 100%;
  }
  .logo {
    text-transform: uppercase;
  }
  .btMenu {
    display: none;
  }
  .contMenu {
    display: flex;
  }
  .iconCode {
    font-size: 5rem;
  }
  .menuDesk {
    list-style: none;
    display: flex;
    gap: 5rem;
    justify-content: flex-end;
    flex-direction: row;
  }
  .menuHidden {
    display: none;
  }
  .menu {
    display: none;
  }
  .link {
  }
}
