.contactForm {
  border-radius: 10px;
  background-color: var(--color-bg-secondary);
  padding: 30px;
  box-shadow: 0 4px 8px var(--color-border);
  max-width: 500px;
  text-align: center;
}

.titleForm {
  font-size: 1.6rem;
  color: var(--color-text);
  margin-bottom: 20px;
  font-weight: bold;
}

.formGroup {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-bottom: 1.5rem;

  label {
    font-size: 0.9rem;
    margin-bottom: 5px;
    color: var(--color-text);
  }

  input,
  textarea {
    width: 100%;
    padding: 10px;
    color: var(--color-text);
    background-color: var(--color-bg);
    border: 1px solid var(--color-bg-secondary);
    border-radius: var(--radius-sm);
    font-size: 1rem;
    transition: border-color 0.3s ease;

    &:focus {
      border-color: var(--color-primary);
      outline: none;
    }

    &::placeholder {
      color: var(--color-text-secondary);
    }
  }

  textarea {
    resize: none;
  }

  .error {
    color: var(--color-error);
    font-size: 0.875rem;
    margin-top: 5px;
    font-weight: bold;
  }
}

.submitButton {
  padding: 10px 15px;
  background-color: var(--color-primary);
  color: var(--color-white);
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: var(--radius-sm);
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  margin-top: 1rem;

  &:hover {
    background-color: var(--color-primary-hover);
  }

  &:disabled {
    background-color: var(--color-disabled);
    cursor: not-allowed;
  }
}

@media (min-width: 768px) {
  .contactForm {
    padding: 20px;
  }

  .titleForm {
    font-size: 1.8rem;
  }

  .formGroup {

    input,
    textarea {
      font-size: 1.1rem;
    }
  }

  .submitButton {
    font-size: 1.1rem;
  }
}