.contactForm {
    display: none;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 4px 8px rgba(207, 206, 206, 0.4);
    max-width: 500px;
    text-align: center;
    margin: 2rem;
  
    @media (max-width: 768px) {
      padding: 15px;
    }
  }
  
  .titleForm {
    font-size: 1.8rem;
    color: #ccc;
    margin-bottom: 20px;
    font-weight: bold;
  
    @media (max-width: 768px) {
      font-size: 1.6rem;
    }
  }
  
  .formGroup {
    display: flex;
    flex-direction: column;
    text-align: left;
  
    label {
      font-size: 0.9rem;
      margin: 10px 0 5px 0;
      color: #ccc;
    }
  
    input,
    textarea {
      width: 100%;
      padding: 10px;
      color: #ccc;
      border: 1px solid #ccc;
      border-radius: 5px;
      font-size: 1rem;
      transition: border-color 0.3s ease;
  
      &:focus {
        border-color: #a95f37;
        outline: none;
      }
    }
  
    textarea {
      resize: none;
    }
  }
  
  .submitButton {
    padding: 10px 15px;
    background-color: #c57442; 
    color: #ccc;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 2rem;
  
    &:hover {
        background-color: #a95f37; 
    }
  
    &:focus {
      outline: none;
      box-shadow: 0 0 5px #a95f37;
    }
  }
  