.contactForm {
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0 4px 8px #c57442;
  max-width: 500px;
  text-align: center;
}

.titleForm {
  font-size: 1.6rem;
  color: #ccc;
  margin-bottom: 20px;
  font-weight: bold;
}

.formGroup {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-bottom: 1.5rem;

  label {
    font-size: 0.9rem;
    margin-bottom: 5px;
    color: #ccc;
  }

  input,
  textarea {
    width: 100%;
    padding: 10px;
    color: #333;
    background-color: #f8f8f8;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    transition: border-color 0.3s ease;

    &:focus {
      border-color: #a95f37;
      outline: none;
    }

    &::placeholder {
      color: #aaa;
    }
  }

  textarea {
    resize: none;
  }

  .error {
    color: #ff4d4d;
    font-size: 0.875rem;
    margin-top: 5px;
    font-weight: bold;
  }
}

.submitButton {
  padding: 10px 15px;
  background-color: #c57442;
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  margin-top: 1rem;

  &:hover {
    background-color: #a95f37;
    transform: scale(1.05);
  }

  &:disabled {
    background-color: #999;
    cursor: not-allowed;
  }
}

@media (min-width: 768px) {
  .contactForm {
    padding: 20px;
  }

  .titleForm {
    font-size: 1.8rem;
  }

  .formGroup {
    input,
    textarea {
      font-size: 1.1rem;
    }
  }

  .submitButton {
    font-size: 1.1rem;
  }
}
