.container {
  background-color: rgba(128, 128, 128, 0.3);
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  .pd {
    display: flex;
    align-items: flex-end;
  }
  .containerInner{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 12rem;
  }
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 20px;
  p {
    font-size: 16px;
  }

  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
  .rrss {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    font-size: 1.2rem;
  }
}

@media (max-width: 768px) {
  .containerInner{
    display: flex;
    flex-direction: column;
   justify-content: center;
   
  }
  .info p {
    font-size: 14px;
    
  }
}
