.container {
   padding: 8rem 1.5rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: fadeInUp 1s ease-in-out;
  background-color: rgba(128, 128, 128, 0.2);
  h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
  }

  .containerInner {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    width: 100%;
    max-width: 1200px;
  }

  .divider {
    width: 80%;
    border: 0;
    border-top: 1px solid #c57442;
    margin: 1.5rem 0;
  }

  .toTop {
    display: block;
    margin: 1rem auto;
    font-size: 0.9rem;
    color: #c57442;
    text-decoration: none;
    transition: color 0.3s ease;

    &:hover {
      color: #a95f37;
    }
  }

  .legal {
    font-size: 0.8rem;
    margin-top: 1rem;
    color: inherit;
  }
}

@media (min-width: 768px) {
  .container {
    h2 {
      font-size: 2.5rem;
    }

    .containerInner {
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
    }
  }
}
