.container {
  margin: 2rem auto;
  padding: 5rem auto 2rem auto;
  h2 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 2rem;
  }
  h3{
    text-align: center;
  }

  .introText {
    color: #ccc;
    text-align: center;
    margin: 2rem 6rem 3rem 6rem;
    line-height: 1.6;
    @media (max-width: 768px) {
      text-align: justify;
      margin: 2rem;
    }
  }

  .containerInner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 3rem;

    .card {
      width: 25rem;
      height: auto;
      margin: 20px;
      padding: 20px;
      background: rgba(128, 128, 128, 0.4);
      border-radius: 1rem;
      box-shadow: 0px 0px 20px rgba(128, 128, 128, 0.4);

      .links {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 30px;
        h3 {
          font-size: 1.2rem;
          text-shadow: 2px 2px 3px #cccccc;
          @media (prefers-color-scheme: dark) {
            text-shadow: 2px 2px 3px #0a0a2a;
          }
        }
        a {
          display: block;
          margin-top: 10px;
        
        }
        .icon {
          font-size: 2rem;
          color: #c57442;
        }
      }

      p {
        font-size: 14px;
        margin-top: 0;
        margin-bottom: 2rem;
      }
      .imageCard {
        width: 100%;
        border-radius: 10px;
      }
    }
  }
}
