.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 8rem 1.5rem 2rem 1.5rem;
  text-align: center;

  .container h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }
}

.container h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  
}

.intro {
  text-align: center;
  max-width: 600px;
  margin: 0 auto 3rem;
  color: var(--color-text-secondary);
}
.sectionTitle {
  font-size: 1.8rem;
  margin: 3rem 0 1.5rem;
  background: var(--color-bg-secondary);
}

.grid {
  display: grid;
  grid-template-columns:
    repeat(auto-fit, minmax(280px, 1fr));
  gap: 2rem;
  margin-bottom: 4rem;
}

.card {
  background:
    var(--color-bg-secondary);
  border-radius: var(--radius-sm);
  overflow: hidden;
  transition: 0.3s;
    max-width: 1100px;
  
}

.card:hover {
  transform: translateY(-6px);
  box-shadow:
    0 10px 30px var(--color-border);
}

.image {
  width: 100%;
  height: auto;
}cs

.content {
  padding: 1.2rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: .5rem 1rem;
  
}

.header h3 {
  font-size: 1.1rem;
}

.links {
  display: flex;
  gap: .6rem;
}

.links a {
  color: var(--color-primary);
  font-size: 1.2rem;
}

.links a:hover {
  color: var(--color-primary-hover);
}

.tech {
  font-size: .85rem;
  color: var(--color-text-secondary);
}

@media (max-width: 768px) {
  .container {
    padding: 4rem 4rem 0rem 4rem;
  }
}