.container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6rem;
  max-width: 1100px;
  margin: 0 auto;
  padding: 2rem;
  min-height: calc(100vh - 80px)
}

.left {
  flex: 1;
}

.left h1 {
  font-size: 3rem;
  font-weight: 700;
}

.left h2 {
  font-size: 1.5rem;
  color: var(--color-primary);
  margin-bottom: 1rem;
}

.left p {
  max-width: 500px;
  opacity: 0.8;
  line-height: 1.6;
}

.buttons {
  display: flex;
  gap: 1rem;
  margin-top: 2rem;
}

.primary {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.7rem 1.4rem;
  background: var(--color-primary);
  color: white;
  border-radius: var(--radius-sm);
  text-decoration: none;
}

.primary:hover {
  background: var(--color-primary-hover);
}

.secondary {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  border-radius: var(--radius-sm);
  border: 1px solid var(--color-border);
  color: var(--color-text);
}

.secondary:hover {
  background: var(--color-bg-secondary);
}

.imageWrapper {
  width: 350px;
  height: 350px;
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  border: 3px solid var(--color-primary);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.25);
}

.image {
  object-fit: cover;
}

@media (max-width: 768px) {

  .container {
    flex-direction: column-reverse;
    text-align: center;
  }
}